<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<link rel= "icon" type="image/jpg" href="/img/logo 222.png" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<!--Estilos letra-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">
	
	<!--Estilos letra-->
		
	<link rel="stylesheet" href="social-bar-gh-pages/font.css">
    <link rel="stylesheet" href="social-bar-gh-pages/main.css">
	<link rel="stylesheet" href="social-bar-gh-pages/style.css">

	
	
	<title>Conócenos</title>
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">

</head>
<body>
	<!-- Barra superior - logo -->
	
	<!-- Barra de navegación -->
	<nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="/img/logoficial.png" alt="" class="logoo">
        </a>
        <ul>
            <li><a th:href="@{/index}">Inicio</a></li>
            <li><a href="/conocenos">Conócenos</a></li>
            <li><a href="https://www.calameo.com/read/006476477696fcfd3ba37">Tienda</a></li>
            <li><a th:href="@{/login}">Mi cuenta</a></li>
        </ul>
    </nav>
	<!-- Barra de navegación -->
	<center> <img align="center" class="publicidad" src="IMG/250954182_476514893850183_2749649392315659075_n.gif">
		
	<!--Social bar-->	
	<div class="social-bar">
		<a href="https://es-la.facebook.com/SeromBrand/" class="icon icon-facebook" target="_blank"></a>
		<a href="https://api.whatsapp.com/send?phone=573007651373&text=Hola.%0AEstoy%20interesad%40%20en%20los%20productos%20de%20la%20emspresa%20Serom%20sb" class="icon icon-whatsapp" target="_blank"></a>
		<a href="https://www.instagram.com/serombrand/?hl=es-la" class="icon icon-instagram" target="_blank"></a>
	  </div>
		<!--Social bar-->  
	<br>
	<br>	
	<br>
	<br>
	<br>
	<br>  
	<!--información-->
		<center> <img align="center" id="Quienes-somos" src="Img/Quienes-somos.png">
			<br><br><br><br><br><br>
		<center> <img align="center" id="Misión" src="Img/Misiónai.png">
			<br><br><br><br><br><br><br><br>
		<center> <img align="center" class="Visión" src="Img/Visión.png">
			<br><br><br><br><br><br><br><br><br>
	<!--información-->

		
	</section>
	<br>
	<br>
	<br>
	
	<!--Footer-->
	 <a href="#" class="enlace">
            <img src="/img/Footer.png" alt="" class="footer">
        </a>
</body>


</html>